.card {
    width: 150%;
    margin-left: auto;
}

.low{
    color: green;
    font-family: cursive;
    font-weight: bolder;
}

.medium{
    color: orange;
    font-family: cursive;
    font-weight: bolder;
}

.high{
    color: red;
    font-family: cursive;
    font-weight: bolder;

}

.veryhigh{
    color:purple;
    font-family: cursive;
    font-weight: bolder;

}